# Flask Core Settings
SECRET_KEY=super-premium-secret-key-999
FLASK_APP=run.py
FLASK_DEBUG=1

# MySQL Database Configuration
DB_USER=root
DB_PASSWORD=11223344
DB_HOST=localhost
DB_NAME=foodease_db

# Email Notifications (Optional: Set up for forgot password feature)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password